<div id="modal" class="d-flex justify-content-center align-items-center modo-modal">
    <div class="container-fluid w-50 h-50 ventana-modal bg-morado2 text-center">
        <div class="overflow-y-auto contenedor-modal">
            <div class="row" *ngFor="let obj of objetos">
                <div class="col">
                 <img class="img-fluid" src="{{obj.imagen}}" alt="imagen-producto">
                </div>
                <div class="col"><b>Nombre:</b> {{obj.nombre}}</div>
                <div class="col"> <b>Valor:</b> {{obj.valor | tipoValor}}</div>
            </div>
        </div>
        <div class="row">
            <div class="col"><b>Total:</b> {{valorTotal(objetos || []) | tipoValor}}</div>
            <div class="col"><b>Cantidad:</b> {{obtenerCantidad(objetos || [])}}</div>
            <div class="col d-flex justify-content-center btn-cerrar-posicion">
                <a class="btn-cerrar" [href]="nombre+'#home-'+nombre">❌</a>
            </div>
        </div>
    </div>
</div>