<div class="row mt-4 d-flex justify-content-center bg-morado3">
  <div class="col-6 mt-5 mb-4">
    <form class="bg-light rounded-2 border border-info">
        <h2 class="text-center"> Formulario De Ticket</h2>
        <div class="mb-3 mt-3">
          <label for="exampleInputEmail1" class="form-label"> <b>Dni:</b></label>
          <input name="dni" type="number" class="form-control border border-info" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="ticket.dni">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label"><b>PrecioReal:</b></label>
          <input name="pReal" type="number" class="form-control border border-info" id="exampleInputPassword1" [(ngModel)]="ticket.precioReal" (change)="aplicarDescuento()">
        </div>
        <div class="mb-3">
          <label for="tipoEspectador" class="form-label"><b>Tipo de espectador:</b></label>
          <select id="tipoEspectador" name="tipo" class="form-select border border-info" [(ngModel)]="ticket.tipoEspectador" (change)="aplicarDescuento()">
              <option value="l">Local</option>
              <option value="e">Extranjero</option>
          </select>
      </div>
        <div class="mb-3">
            <label for="sugundo" class="form-label"><b>FechaCobro:</b></label>
            <input name="fCobro" type="date" class="form-control border border-info" id="segundo" [(ngModel)]="ticket.fechaCobro">
        </div>
        <div *ngIf="condicionEstado(estado)" class="mb-3 bg-info">
            <label for="primero" class="form-label">PrecioCobrado: </label>
            <input name="pCobrado" class="form-control bg-info" id="primero" [(ngModel)]="ticket.precioCobrado" disabled (change)="aplicarDescuento()">
        </div>
        <div class="text-center">
          <button *ngIf="accion == 'new'" type="submit" class="btn btn-primary bg-primary mb-3" (click)="guardarTicket()">Agregar</button>
          <button *ngIf="accion == 'update'" type="submit" class="btn btn-primary bg-success mb-3" (click)="actualizarTicket()">Modificar</button>
        </div>
      </form>
  </div>
</div>