        <div id="home-punto2" class="position-relative container contenedor-padre">
            <div [ngStyle]="{'display': pal.estado ? 'block' : 'none'}" [id]="pal.nombre" class="m-0 container position-absolute h-100 w-100 bg-morado4 presentacion" *ngFor="let pal of bancoPalabras">
               <div class="row">
                <div class="col-12">
                    <div class="text-center bg-info box-palabra d-flex justify-content-center align-items-center">
                      <h2>ESCOJA LAS PROPIEDADES DE LA PALABRA: {{pal.nombre}} </h2>
                    </div>
                </div>
               </div>
               <div class="row">
                    <div class="row">  
                    <div class="vista rounded-2 border border-info col-6" *ngFor=" let pe of pal.preguntas">
                     <form>
                        <legend> ¿CUANTAS {{pe.titulo}} TIENE?</legend>
                        <div class="mb-3">
                          <div class="form-check">
                            <input [disabled]="pe.estado" class="form-check-input" type="radio" [name]="'{{pe.id}}'" [value]="pe.preguntaA" [(ngModel)]="pe.respuesta">
                            <label class="form-check-label" >
                                {{pe.preguntaA}}
                            </label>
                          </div>
                        </div>
                        <div class="mb-3">
                            <div class="form-check">
                              <input [disabled]="pe.estado" class="form-check-input" type="radio"  [name]="'{{pe.id}}'" [value]="pe.preguntaB" [(ngModel)]="pe.respuesta">
                              <label class="form-check-label" >
                                  {{pe.preguntaB}}
                              </label>
                            </div>
                          </div>
                          <div class="mb-3">
                            <div class="form-check">
                              <input [disabled]="pe.estado" class="form-check-input" type="radio"  [name]="'{{pe.id}}'" [value]="pe.preguntaC" [(ngModel)]="pe.respuesta">
                              <label class="form-check-label" >
                                  {{pe.preguntaC}}
                              </label>
                            </div>
                          </div>
                          <div class="mb-3">
                            <div class="form-check">
                              <input [disabled]="pe.estado" class="form-check-input" type="radio" [name]="'{{punto}}'" [value]="pe.preguntaD" [(ngModel)]="pe.respuesta">
                              <label class="form-check-label" >
                                  {{pe.preguntaD}}
                              </label>
                            </div>
                          </div>
                          <div class="row">
                            <button *ngIf="pe.estado==false" (click)="aumentarEmitidas()" (click)="pe.estado = true" type="submit" class="btn btn-success">Confirmar</button>
                            <button disabled *ngIf="pe.estado==true"  (click)="pe.estado = true" type="submit" class="btn btn-danger">Listo!</button>
                        </div>
                      </form> 
                    </div> 
                </div>  
            </div> 
            <div class="row bg-black">
              <button [ngStyle]="{'background-color': cambiarCondicion() ? '' : 'blue'}"  [disabled]="cambiarCondicion()" type="submit" class="btn btn-dark" (click)="mostrarJuego(pal.identificador)">SIGUIENTE</button>
            </div>
            <div *ngIf="estado" class="row text-center bg-danger">
              <button class="btn-danger" data-bs-toggle="modal" data-bs-target="#modal">Ver Resultados!</button>
            </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a (click)="ocultarModal()" id="juego" class="start-modal position-absolute">
             <img class="h-50 w-50" src="assets/images/play.png" alt="imagen de play">
             </a>
        </div>  
    </div>
    <app-modal [objetos]="bancoPalabras" [nombre]="nom"></app-modal>
</div>
