        <div id="home-punto2" class="position-relative container bg-primary contenedor-padre">
            <div [ngStyle]="{'display': pal.estado ? 'block' : 'none'}" [id]="pal.nombre" class="container position-absolute h-100 w-100 bg-danger presentacion" *ngFor="let pal of bancoPalabras">
               <div class="row">
                <div class="col-12">
                    <div>
                       ESCOJA LAS PROPIEDADES DE LA PALABRA: {{pal.nombre}}
                    </div>
                </div>
               </div>
               <div class="row">
                    <div class="row">  
                    
                    <div class="col-6" *ngFor=" let pe of pal.preguntas">
                     <form>
                        <legend> ¿CUANTAS {{pe.titulo}} TIENE?</legend>
                        <div class="mb-3">
                          <div class="form-check">
                            <input class="form-check-input" type="radio" [name]="'{{pe.id}}'" [value]="pe.preguntaA" [(ngModel)]="pe.respuesta">
                            <label class="form-check-label" >
                                {{pe.preguntaA}}
                            </label>
                          </div>
                        </div>
                        <div class="mb-3">
                            <div class="form-check">
                              <input class="form-check-input" type="radio"  [name]="'{{pe.id}}'" [value]="pe.preguntaB" [(ngModel)]="pe.respuesta">
                              <label class="form-check-label" >
                                  {{pe.preguntaB}}
                              </label>
                            </div>
                          </div>
                          <div class="mb-3">
                            <div class="form-check">
                              <input class="form-check-input" type="radio"  [name]="'{{pe.id}}'" [value]="pe.preguntaC" [(ngModel)]="pe.respuesta">
                              <label class="form-check-label" >
                                  {{pe.preguntaC}}
                              </label>
                            </div>
                          </div>
                          <div class="mb-3">
                            <div class="form-check">
                              <input class="form-check-input" type="radio" [name]="'{{punto}}'" [value]="pe.preguntaD" [(ngModel)]="pe.respuesta">
                              <label class="form-check-label" >
                                  {{pe.preguntaD}}
                              </label>
                            </div>
                          </div>
                          <div class="row">
                            <button [disabled]="pe.estado"  (click)="pe.estado = true" type="submit" class="btn btn-primary">Enviar</button>
                        </div>
                      </form>                        
                    </div> 
                </div>  
            </div> 
            <div class="row bg-black">
                <div class="col-12">
                    <a (click)="mostrarJuego(pal.identificador)">SIGUIENTE</a>
                </div>
            </div>
            <div *ngIf="estado" class="row">
                <a [href]="nom+'#modal'" class="bg-success"> ver resultados</a>
            </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a (click)="ocultarModal()" id="juego" class="start-modal position-absolute" >
             <img class="h-50 w-50" src="assets/images/play.png" alt="imagen de play">
             </a>
        </div>
    </div>
    <app-modal [objetos]="bancoPalabras" [nombre]="nom"></app-modal>
</div>
